{% load static %}
<html>
<head>
    <title> Blog App</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'homeblog' %}">blog App</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">+ New Blog</a>
        </div>

    </header>
    {% if user.is_authenticated %}
        <p>HI {{ user.username }}</p>
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <p>You are not Log In</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
<div>
{% block content %}
{% endblock content %}
</div>
</body>
</html>